/target
/.idea
/input/2024/*_test.txt
/src/y2015/advent00.rs
/output
input/2024/day15_test_p1_small.txt
input/2024/day15_test_p2_small.txt
input/2024/day16_test1.txt
/input/2024/*_alt.txt
src/y2016/advent00.rs
